<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>商品搜索</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no"/>
<link href="${base}/templates/${config.theme}/mobile/static/css/diancai.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="${base}/templates/${config.theme}/mobile/static/css/global.css"/>
<link rel="stylesheet" type="text/css" href="${base}/templates/${config.theme}/mobile/static/css/style.css"/>
<script type="text/javascript" src="${base}/templates/${config.theme}/mobile/static/js/jquery.js"></script>
<script type="text/javascript" src="${base}/templates/${config.theme}/mobile/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="${base}/templates/${config.theme}/mobile/static/js/ajax.js"></script>
</head>
<body>
	<header class="header">
		<div class="logo"><a href="${base}/"><img src="${base}/templates/${config.theme}/mobile/static/images/logo.png" alt="" /></a></div>
		<h2>搜索</h2>
		<div class="head_meun"><a href="${base}/view/help"></a></div>
	</header>
	<div style="height: 45px"></div>
	<form  id="searchform" action="${base}/product/search" method="get" style="position: fixed;top: 43px;width: 100%;z-index: 999;" >
	    <div class="search">
	        <input  type="search" id="keyword" name="keyword" placeholder="输入关键词搜索">
			<input  type="hidden"  name="orderBy" value=" sales desc ">
	        <a class="btn_search" href="javascript:$('#searchform').submit();">搜索</a>
	    </div>
	</form>
	<div style="background-color:#FFF;margin-top:40px;" id="navbody">
		<div id="infoSection">
			<section style="width: 100%">
				<section class="list listimg">
					<dl>
						<div class="ccbg" style="width: 100%">
							[#if page.list?? && page.list?size>0]
								[#list page.list as product]
								<dd style="width:100%">
									<div class="tupian">
										<a href="${base}${product.path}"><img src="${product.image}"/></a>
										<div class="add">
		                                    <h3><a href="${base}${product.path}">${product.name}</a></h3>
		                                    <em>￥${product.price}元<del>￥${product.marketPrice}元</del></em>
		                                    <p class="dpNum">${product.sales}人买过</p>
										</div>
									</div>
								</dd>
								[/#list]
							[/#if]
						</div>
					</dl>
				</section>
			</section>
		</div>
		<div class="clr"></div>
	</div>
 	<div style="height: 50px"></div>
	<footer>
		<a class="cur" href="${base}/">首页</a>
		<a href="${base}/order/list">订单</a>
		<a href="${base}/member">我的</a>
		<a href="${base}/cart/list">
			<div class="cart">
				<span></span>
				<em id="cartQuantity">0</em>
				<div></div>
			</div>
		</a>
	</footer>
</body>
</html>
							